Web/node_modules/
UI/node_modules/
Service/node_modules/
Client/example/
Server Service/node_modules/
Server Web/UI/
Agent/example/
Agent/Lib/__pycache__/
Agent/__pycache__/
*.syncn
Server/Service/node_modules/
